# compiled and installed code 
###############
build/
bin/
lib/
include/

# generated debug images
########################
*-[B,G,R].png
*-BrotBG.png
*-BrotBR.png
*-GrotBG.png
*-GrotRG.png
*-RrotBR.png
*-RrotRG.png
*-depthMap.csv
*-depthMap.png
