# Compiled and installed code 
########################
cpp/build/
cpp/bin/
cpp/lib/
cpp/include/

# Generated debug images
########################
*-[B,G,R].png
*-BrotBG.png
*-BrotBR.png
*-GrotBG.png
*-GrotRG.png
*-RrotBR.png
*-RrotRG.png
*-depthMap.csv
*-depthMap.png
